// theme colors
$primary: #2e4859;
$secondary: #f49c3a;
$light: #ebf1ef;
$medium: #cfcfcf;
$dark: #6c6c6c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "medium": $medium,
  "dark": $dark
);

$typewriter: 'itc-american-typewriter', 'Times New Roman',serif;
$standard: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

@import '~bootstrap/scss/bootstrap.scss';

// Adobe ITC American Typewriter font family
@import url("https://use.typekit.net/dqz2zhw.css");

// RESPONSIVE FONT SIZING //
html, body {
  font-family: $standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: $light;
}

@media only screen and (max-width: 992) {
  html, body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576) {
  html, body {
    font-size: 14px;
  }
}

// HEADER //
.header {
  display: flex;
  text-align: center;
  background-color: $secondary;
  position: sticky;
  top: 0;
  z-index: 100;
 // margin-bottom: 0.5rem;
  font-family: $typewriter;
 // border-bottom: $primary 0.1rem solid;
}
  
.header-left {
  margin: 0.3rem;
  text-align: left;
 // border: $primary 0.2rem solid;
 // border-right: $primary 0.8rem solid;
  padding: 0.2rem 1rem;
  align-self: flex-start;
  h4 {
    margin-bottom: 0;
    letter-spacing: 1.1pt;
  }
  h6 {
    font-size: 0.8rem;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0;
  }
}

.header-right {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
 // justify-content: space-between;
 justify-content: flex-end;
  padding: 0.5rem;
  padding-bottom: 0;
}

.menu {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 0.5rem;
  a {
    text-align: center;
    font-variant-caps: small-caps;
    font-family: $standard;
    font-size: 1.2em;
    padding: 0 0.7rem;
   
    border-right: $primary 2px solid;
    &:last-child {
      border-right: none;
    }
    &:hover {
      text-decoration: none;
      background-color: $primary;
      color: $secondary;
    }
    &.active {
      color: white;
    }
  }
}

// HOME PAGE //
.home {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}


.ATF {
  height: 90vh;
  padding-bottom: 2rem;
  align-items: center;
  p {
    font-family: $typewriter;
    text-align: center;
    display: block;
  } 
  img {
    width: 400px;
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
  }
  .description {
    max-width: 80%;
    margin: auto;
    font-size: 0.9em;
  }
}




