// theme colors
$primary: #2e4859;
$secondary: #f49c3a;
$light: #ebf1ef;
$medium: #cfcfcf;
$dark: #6c6c6c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "medium": $medium,
  "dark": $dark
);

$typewriter: 'itc-american-typewriter', 'Times New Roman',serif;
$standard: 'Karla', Calibri, sans-serif;

@import '~bootstrap/scss/bootstrap.scss';

// Adobe ITC American Typewriter font family
@import url("https://use.typekit.net/dqz2zhw.css");
// Google Fonts Karla font family
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0.500;0,700;1,400&display=swap');

// RESPONSIVE FONT SIZING //
html, body {
  font-family: $standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  
}

@media only screen and (max-width: 992) {
  html, body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576) {
  html, body {
    font-size: 14px;
  }
}

// HEADER //
.header {
  display: flex;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: $typewriter;
  background-color: white;
}
  
.header-left {
  margin: 0.3rem;
  text-align: left;
  padding: 0.2rem 1rem;
  align-self: flex-start;
  h4 {
    margin-bottom: 0;
    letter-spacing: 1.1pt;
  }
  h6 {
    font-size: 0.8rem;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0;
  }
}

.header-right {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 0.5rem;
  padding-bottom: 0;
}

.menu {
  display: flex;
  margin-right: 01rem;
  margin-left: auto;
  a {
    text-align: center;
    font-variant-caps: small-caps;
    font-family: $standard;
    font-weight: 500;
    padding: 0.3rem 1rem;
    &:last-child {
      border-right: none;
    }
    &:hover {
      text-decoration: none;
      background-color: $secondary;
      color: white;
    }
    &.active {
      background-color: $secondary;
      color: $primary;
    }
  }
}

// HOME PAGE //
.home {
  padding: 1rem;
 // max-width: 1200px;
  margin: 0 auto;
  
}

.home-content {
  margin: auto;
  font-size: 1.2em;
  .description {
    max-width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
  .home-links {
    text-align: center;
    margin-top: 3rem;
    
    p {
      align-self: center;
      margin-bottom: 3rem;
    }
  }
}

.ATF {
  min-height: 90vh;
  padding-bottom: 2rem;
  align-items: center;
  h2 {
    font-family: $standard;
    display: block;
    font-size: 1.5em;
  } 
  img {
    width: 600px;
    max-width: 90%;
    height: auto;
  }
  .tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a:hover {
      color: white;
    }
  }
}



// FOOTER //
.footer {
  display: flex;
  padding: 2rem 0.5rem;
  justify-content: center;
  text-align: center;
  background-color: $secondary;
  color: black;
  a {
    color: $primary;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}


// SERVICES PAGE // 

.services {
  margin-top: 1rem;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.services-content {
  margin: 0.5rem 0;
  padding: 1rem 0;
  border-top: $primary solid 2px;
  border-bottom: $primary solid 2px;
  justify-content: center;
  .name {
    flex-grow: 1;
    max-width: 80%;
    text-align: center;
  }
  .price {
    margin-bottom: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .description-title {
      display: flex;
      flex-direction: row;
      line-height: 1em;
      margin-bottom: 0.5em;
      h4 {
        flex-grow: 1;
        margin-bottom: 0;
        align-self: center;
      }
  
      button {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 2em;
        font-weight: bold;
        color: gray;
        align-self: center;
        span::before {
          content: "\002B";
        }
        &.minus {
          span::before {
            content: "\2212"
          }
        }
        &:hover {
          color: black;
          cursor: pointer;
        }
      }
      .description {
        display: none; // collapsed on small screens
        &.show {
          display: flex; // expand on click
        }
      }
    }
  }
} 

@media only screen and (min-width: 768px) {
  .services-content {
    &.left {
      .name {
        text-align: left;
      }
      .description {
        text-align: right;
      }
    }
    &.right {
      flex-flow: row-reverse;
     
      .name {
        text-align: right;
      }
      .description {
        text-align: left;
      }
    }
    button {
      display: none;
    }
  }
  .ATF {
    .tagline {
      text-align: left;
    }
    h2 {
      font-size: 2em;
    }
  }
}

